#b1 { background:orange;height: 190px;width: 1200px;}
#b4 {float: left;background-image: url(сhi.jpg);height: 100px;width: 190px;font-weight: 700;}
#b2 {float: left;background-image: url(images.jpg);height: 400px;width: 190px;font-weight: 700;}
#b3 {float: left;background-image: url(unnamed.jpg);height: 500px;width: 980px;}
#b5 {background: #bd9da0;width: 1195px;display: inline-block;}
div {border:solid 3px;height: 190px ;border-color:black; margin:2px ;padding: 10px;text-align: center;font-style:times new roman;}
