#b1 { background:orange;height: 190px;width: 1200px;}
#b2 {float: left;background-image: url(images.jpg);height: 200px;width: 200px;font-weight: 700;}
#b3 {float: left;background-image: url(0794ca4411980ad09385445aa8d50c2f-e1503240359183.jpg);height: 200px;width: 250px;font-weight: 700;}
#b4 {float: left;background-image: url(unnamed.jpg);height: 700px;width: 660px;}
#b5 {background: #bd9da0;width: 1200px;display: inline-block;}
div {border:solid 3px;height: 190px ;border-color:black; margin: 5px;padding: 10px;text-align: center;}
